<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<style type="text/css">
			html,
			body,
			#root {
				position: relative;
				margin: 0;
				padding: 0;
				width: auto;
				height: 100%;
			}

			.skeleton-top {
				position: absolute;
				top: 0;
				left: 0;
				height: 69px;
				width: 100%;
				background-color: #d3deef;
			}
			.az-sk-left {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 180px;
				background-color: #d3deef;
			}
		</style>
	</head>

	<body>
		<div id="root">
			<div class="skeleton-top"></div>
			<div class="az-sk-left"></div>
		</div>
	</body>
</html>
