.widget-phone-info {
    display       : flex;
    flex-direction: column;
    width         : 100%;
    height        : 100%;

    //未连接
    .connecting {
        height         : 100%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        padding-bottom : 10px;

        .info {
            flex       : 1;
            font-size  : 14px;
            display    : flex;
            align-items: center;
        }

        .lstatus {
            flex     : 1;
            font-size: 48px;
            color    : #416eb5;

            i {
                font-size: 32px;
            }
        }
    }

    //已连接
    .connected {
        height         : 100%;
        position       : relative;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding-bottom : 10px;

        .progress {
            position         : absolute;
            bottom           : 0px;
            right            : 0px;
            width            : 100%;
            height           : 10px;
            background-image : url(./images/progress.gif);
            background-repeat: no-repeat;
            background-size  : cover;
        }

        .img {
            flex           : 2;
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;

            .title {
                color    : #2fce74;
                font-size: 14px;
                padding  : 10px 0;
            }

            .phone-type {
                //重写手机图片宽高
                width : 75px;
                height: 150px;
                margin: 0 auto;
            }
        }

        .details {
            flex          : 3;
            display       : flex;
            flex-direction: column;

            .mark {
                display        : flex;
                flex-direction : row;
                justify-content: flex-start;
                align-items    : center;
                padding-bottom : 10px;

                .dt {
                    display       : flex;
                    flex-direction: column;
                    margin-left   : 10px;
                }
            }

            .case-data {
                label {
                    &:after {
                        content: "：";
                    }
                }

                span {
                    font-weight: bold;
                    color      : #3599fd;
                }

                a {
                    cursor         : pointer;
                    color          : red;
                    text-decoration: underline;
                    margin-left    : 5px;
                    font-size      : 1.2rem;
                }
            }

            .btn {
                padding: 10px 0;

                button {
                    margin-right: 5px;
                    margin-top  : 2px;
                }
            }
        }
    }

    .fetching {
        display        : flex;
        flex-direction : column;
        height         : 100%;
        position       : relative;
        align-items    : center;
        justify-content: center;

        .progress {
            position         : absolute;
            bottom           : 0px;
            right            : 0px;
            width            : 100%;
            height           : 10px;
            background-image : url(./images/progress.gif);
            background-repeat: no-repeat;
            background-size  : cover;

            .case-data {
                position             : absolute;
                color                : #848180;
                text-decoration      : underline;
                text-decoration-color: #85a5d6;
                left                 : 50%;
                bottom               : 10px;
                margin-left          : -65px;
            }
        }

        .phone-info {
            display        : flex;
            flex-direction : row;
            position       : relative;
            justify-content: center;
            align-items    : center;
            padding-bottom : 20px;
            width          : 100%;
            flex           : auto;

            .img {
                flex           : 2;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : center;

                .title {
                    color    : #2fce74;
                    font-size: 14px;
                    padding  : 10px 0;
                }

                .phone-type {
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    //重写手机图片宽高
                    width : 75px;
                    height: 150px;
                    margin: 0 auto;

                    &.android {
                        span {
                            color     : #6dddff;
                            font-style: normal;
                        }
                    }

                    &.iphone {
                        span {
                            color     : #00509a;
                            font-style: normal;
                        }
                    }
                }
            }

            .details {
                flex          : 3;
                display       : flex;
                flex-direction: column;

                .outer-box {
                    width: 95%;
                }

                .case-info {
                    display        : flex;
                    justify-content: center;
                    align-items    : flex-start;
                    width          : 100%;
                    min-width      : 75%;
                    flex           : 1;
                    margin-bottom  : 10px;

                    .ant-list-bordered {
                        border: none;

                        .ant-list-item {
                            border-bottom: none;
                        }
                    }

                    .ant-list-item {
                        padding: 2px 6px;
                        border : none;
                    }

                    label {
                        display    : inline-block;
                        white-space: nowrap;
                        font-size  : 1.2rem;
                        color      : #7a7878;
                        width      : 75px;
                        text-align : left;
                    }

                    label:after {
                        content: "：";
                    }

                    span {
                        display      : inline-block;
                        padding      : 0 2px;
                        border       : 1px solid #85a5d6;
                        font-size    : 1.2rem;
                        color        : #222;
                        text-overflow: ellipsis;
                        white-space  : nowrap;
                        overflow     : hidden;
                    }

                    @media screen and (max-width:1280px) {
                        span {
                            width: 85px;
                        }
                    }

                    @media screen and (min-width:1280px) and (max-width:1559px) {
                        span {
                            width: 90px;
                        }
                    }

                    @media screen and (min-width:1559px) {
                        span {
                            width: 100px;
                        }
                    }
                }

                .mark {
                    display        : flex;
                    flex-direction : row;
                    justify-content: flex-start;
                    align-items    : center;
                    padding-bottom : 10px;

                    .dt {
                        display       : flex;
                        flex-direction: column;
                        margin-left   : 10px;

                        span {
                            color: #222;
                        }
                    }
                }

                .btn {
                    padding    : 10px 0;
                    white-space: nowrap;

                    button {
                        margin-right: 2px;
                        margin-top  : 2px;
                    }
                }
            }
        }
    }
}