.parse-root {
    height  : 100%;
    position: relative;

    .scroll-panel {
        position  : absolute;
        top       : 0;
        left      : 0;
        right     : 0;
        bottom    : 0;
        box-sizing: border-box;
        padding   : 20px;
        overflow-y: auto;
    }
}