.sensitive-app-root {
	.btn-bar {
		border: 1px solid #e8e8e8;
		border-radius: 2px;
		padding: 5px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.left,
		.right {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			label {
				white-space: nowrap;
			}
		}

		.ant-btn {
			margin-left: 5px;
		}
	}
	.table-panel {
		margin-top: 15px;
	}

	.ant-table-body {
		margin: 0 !important;
	}
	.inner-table-panel {
		margin: 10px;
	}
}
