.guide-modal-root {

    .ant-modal-body {
        padding: 0 !important;
    }

    .flow {
        display        : flex;
        justify-content: center;
        align-items    : center;
        min-height     : 600px;

        img {
            display: block;
            width  : 100%;
        }
    }
}