.bcp-root {
    width   : auto;
    height  : 100%;
    position: relative;
    padding : 10px 5px;

    strong {
        color      : @base-color;
        font-weight: bold;
    }

    em {
        font-size  : 1.2rem;
        color      : #aaa;
        margin-left: 15px;
        font-style : normal;

        &.active {
            color: @base-color
        }
    }

    .case-info {
        span {
            color      : @base-color;
            font-weight: bold;
        }
    }

    .scroll-container {
        position  : absolute;
        top       : 50px;
        left      : 0;
        right     : 0;
        bottom    : 0;
        overflow-y: auto;

        .panel {
            padding: 5px;
        }
    }

    .sort-root {
        background-color: fade(@base-color, 30%);
        border-radius   : 3px;
        padding         : 10px 20px;
    }

    .sort {
        background-color: #fff;
        border-radius   : 3px;
        padding         : 20px;
        margin          : 20px 0;

        &.thin {
            padding   : 5px;
            text-align: right;

            .ant-btn {
                margin-left: 4px;
            }
        }

        &:first-child {
            margin-top: 10px;
        }

        &:last-child {
            margin-bottom: 10px;
        }

        hr {
            border-top   : 0;
            border-left  : 0;
            border-right : 0;
            border-bottom: 1px solid fade(@base-color, 30%);
            margin-bottom: 2.8rem;
        }
    }
}