.case-panel {
    height : 100%;
    padding: 20px 20px 0 20px;

    .fix-buttons {
        position: absolute;
        right   : 20px;
        bottom  : 15px;
    }

    .case-content {
        height    : calc(100% - 40px);
        overflow-y: auto;
    }

    .search-bar {
        display      : flex;
        padding      : 5px;
        border-bottom: 1px solid #eeeeee;
    }

    .table-root {
        height: calc(100% - 40px);
    }

    // 覆盖分页样式
    .ant-table-pagination.ant-pagination {
        float: left;
    }
}