.inner-phone-list {
    .ant-tag {
        margin-right: 0;
    }

    .status-tag {
        display       : inline-block;
        max-width     : 500px;
        width         : auto;
        margin-left   : 10px;
        white-space   : nowrap;
        overflow      : hidden;
        text-overflow : ellipsis;
        vertical-align: bottom;
    }

    .odd-row {
        background-color: #fbfbfb;

        td {
            padding: 6px 12px !important;
        }
    }

    .even-row {
        background-color: #ffffff;

        td {
            padding: 6px 12px !important;
        }
    }

    .tag-span {
        margin-left: 5px;
    }
}