.inner-phone-list {
    .status-tag {
        display       : inline-block;
        max-width     : 500px;
        width         : auto;
        white-space   : nowrap;
        overflow      : hidden;
        text-overflow : ellipsis;
        vertical-align: bottom;
    }
}