.batch-export-report-modal-root {
	.batch-export-tips {
		display: block;
		border: 1px solid #e8e8e8;
		border-radius: 2px;
		legend {
			width: auto;
			margin-left: 10px;
			font-size: 12px;
			font-weight: bold;
		}
		ul {
			font-size: 12px;
			font-family: 'Arial';
			margin: 0;
			padding: 0 5px 5px 5px;
		}
		li {
			margin: 0 0 0 20px;
			padding: 0;
			color: @base-color;
			list-style-type: square;
			em {
				font-style: normal;
				font-weight: bold;
				color: red;
			}
		}
	}

	.export-panel {
		margin-top: 5px;
		height: 260px;
		overflow-y: auto;
	}

	.control-boxes {
		display: inline;
		margin-right: 15px;
		& > span {
			cursor: pointer;
			margin-left: 2px;
		}
		.ant-input {
			width: auto;
		}
	}

	.empty-report {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.ztree {
		b {
			font-family: Arial, Helvetica, sans-serif;
			color: #00c5c5;
			font-style: normal;
			font-weight: normal;
		}
		i {
			font-family: Arial, Helvetica, sans-serif;
			color: #ec9d00;
			font-style: normal;
		}
		em {
			font-family: Arial, Helvetica, sans-serif;
			color: #ff0033;
			font-style: normal;
		}
	}

	.ant-modal-body {
		padding: 0 5px;
	}
}
