.batch-export-report-modal-root {
	.export-panel {
		height: 350px;
		overflow-y: auto;
	}

	.control-boxes {
		display: inline;
		margin-right: 15px;
		& > span {
			cursor: pointer;
			margin-left: 2px;
		}
		.ant-input {
			width: auto;
		}
	}

	.empty-report {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.ant-modal-body {
		padding: 5px;
	}
}
