html {
    font-size: @root-font-size;
    margin   : 0;
    padding  : 0;
    width    : auto;
    height   : 100%;
    color    : @base-font-color;
}

body {
    margin     : 0;
    padding    : 0;
    font-size  : 1.4rem;
    font-family: "Microsoft YaHei", "NSimSun";
    width      : auto;
    height     : 100%;
    user-select: none;

    & when (@mode=pad) {
        #root {
            height         : 100%;
            display        : flex;
            flex-direction : row;
            justify-content: flex-start;

            .bottom-root {
                position: relative;
                flex    : 1;
                height  : 100%;
                width   : auto;
            }
        }
    }

    & when not (@mode=pad) {
        #root {
            height         : 100%;
            display        : flex;
            flex-direction : column;
            justify-content: flex-start;

            .bottom-root {
                flex  : 1;
                height: 100%;
                width : auto;
            }
        }
    }
}

::-webkit-scrollbar {
    width : 8px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    border-radius     : 8px;
    -webkit-box-shadow: none;
    background        : #cccccc;
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius     : 8px;
    background        : #eee;
    -webkit-box-shadow: none;
}

//手机分类图iPhone&Android
.phone-type {
    display          : block;
    width            : 129px;
    height           : 249px;
    background-repeat: no-repeat;
    background-size  : contain;
    background-image : url(./images/phone/phone.129.249.png);

    &.large {
        width : 180px;
        height: 345px;
        background-image : url(./images/phone/phone.180.345.png);
    }
}

// 手机品牌图标，请在此新增
.brand {
    display          : inline-block;
    width            : 60px;
    height           : 60px;
    background-repeat: no-repeat;
    background-size  : contain;

    &.large {
        width : 120px;
        height: 120px;
    }

    //安卓
    &.android {
        background-image: url(./images/brand/android.png);
    }

    //苹果
    &.apple {
        background-image: url(./images/brand/apple.png);
    }

    //小米
    &.xiaomi {
        background-image: url(./images/brand/xiaomi.png);
    }

    //VIVO
    &.vivo {
        background-image: url(./images/brand/vivo.png);
    }

    //iQOO
    &.iqoo {
        background-position-y: 20px;
        background-image     : url(./images/brand/iqoo.jpg);
    }

    //realme
    &.realme {
        background-position-y: 20px;
        background-image     : url(./images/brand/realme.jpg);
    }

    //OPPO
    &.oppo {
        background-image: url(./images/brand/oppo.png);
    }

    //华为
    &.huawei {
        background-image: url(./images/brand/huawei.png);
    }

    //荣耀
    &.honor {
        background-position-y: 12px;
        background-image     : url(./images/brand/honor.png);
    }

    //三星
    &.samsung {
        background-position-y: 20px;
        background-image     : url(./images/brand/samsung.jpg);
    }

    //21克
    &.esyke {
        background-image: url(./images/brand/21ke.png);
    }

    //华硕
    &.asus {
        background-image: url(./images/brand/asus.png);
    }

    //邦华
    &.boway {
        background-image: url(./images/brand/boway.png);
    }

    //comio
    &.comio {
        background-image: url(./images/brand/comio.png);
    }

    //酷派
    &.coolpad {
        background-image: url(./images/brand/coolpad.png);
    }

    //朵唯
    &.doov {
        background-image: url(./images/brand/doov.png);
    }

    //金立
    &.gionee {
        background-image: url(./images/brand/gionee.png);
    }

    //国美
    &.gome {
        background-image: url(./images/brand/gome.png);
    }

    //海尔
    &.haier {
        background-image: url(./images/brand/haier.png);
    }

    //海信
    &.hisense {
        background-image: url(./images/brand/hisense.png);
    }

    //HTC
    &.htc {
        background-image     : url(./images/brand/htc.png);
        background-position-y: 16px;
    }

    //innos
    &.innos {
        background-image: url(./images/brand/innos.png);
    }

    //柯达
    &.kodak {
        background-image: url(./images/brand/kodak.png);
    }

    //康佳
    &.konka {
        background-image: url(./images/brand/konka.png);
    }

    //酷比
    &.koobee {
        background-image: url(./images/brand/koobee.png);
    }

    //天语
    &.k-touch {
        background-image: url(./images/brand/k-touch.png);
    }

    //联想
    &.lenovo {
        background-image: url(./images/brand/lenovo.png);
    }

    //LG
    &.lg {
        background-image: url(./images/brand/lg.png);
    }

    //美图
    &.meitu {
        background-image: url(./images/brand/meitu.png);
    }

    //魅族
    &.meizu {
        background-position-y: 20px;
        background-image     : url(./images/brand/meizu.png);
    }

    //微软
    &.microsoft {
        background-image: url(./images/brand/microsoft.png);
    }

    //摩托罗拉
    &.motorola {
        background-image: url(./images/brand/motorola.png);
    }

    //纽曼
    &.newsmy {
        background-image: url(./images/brand/newsmy.png);
    }

    //诺基亚
    &.nokia {
        background-position-y: 16px;
        background-image     : url(./images/brand/nokia.png);
    }

    //努比亚
    &.nubia {
        background-image: url(./images/brand/nubia.png);
    }

    //乐目
    &.oinom {
        background-image: url(./images/brand/oinom.png);
    }

    //一加
    &.oneplus {
        background-image: url(./images/brand/oneplus.png);
    }

    //欧恩
    &.onn {
        background-image: url(./images/brand/onn.png);
    }

    //松下
    &.panasonic {
        background-image: url(./images/brand/panasonic.png);
    }

    //菲利浦
    &.philips {
        background-image: url(./images/brand/philips.png);
    }

    //先锋
    &.pioneer {
        background-image: url(./images/brand/pioneer.png);
    }

    //PPTV
    &.pptv {
        background-image: url(./images/brand/pptv.png);
    }

    //青橙
    &.qingcheng {
        background-image: url(./images/brand/qingcheng.png);
    }

    //蓝魔
    &.ramos {
        background-image: url(./images/brand/ramos.png);
    }

    //razer
    &.razer {
        background-image: url(./images/brand/razer.png);
    }

    //夏普
    &.sharp {
        background-image: url(./images/brand/sharp.png);
    }

    //锤子
    &.smartisan {
        background-image: url(./images/brand/smartisan.png);
    }

    //索尼
    &.sony {
        background-image: url(./images/brand/sony.png);
    }

    //索野
    &.soyes {
        background-image: url(./images/brand/soyes.png);
    }

    //sugar
    &.sugar {
        background-image: url(./images/brand/sugar.png);
    }

    //TCL
    &.tcl {
        background-image: url(./images/brand/tcl.png);
    }

    //TP-Link
    &.tp-link {
        background-image: url(./images/brand/tp-link.png);
    }

    //veb
    &.veb {
        background-image: url(./images/brand/veb.png);
    }

    //小辣椒
    &.xiaolajiao {
        background-image: url(./images/brand/xiaolajiao.png);
    }

    //中兴
    &.zte {
        background-image: url(./images/brand/zte.png);
    }

    //联想ZUK
    &.zuk {
        background-image: url(./images/brand/zuk.png);
    }

    //高通
    &.qualcomm {
        background-image: url(./images/brand/qualcomm.png);
    }

    //联发科
    &.mediatek {
        background-image: url(./images/brand/mediatek.png);
    }

    //黑莓
    &.blackberry {
        background-image: url(./images/brand/blackberry.jpg);
    }

    &.p8848 {
        background-image     : url(./images/brand/8848.jpg);
        background-position-y: 20px;
    }
}

//应用图标在此新增
.app-icon {
    display            : inline-block;
    width              : 60px;
    height             : 60px;
    display            : inline-block;
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center center;

    // 基本信息
    &.base {
        background-image: url(./images/app/DevBaseInfo.png);
    }

    //短信
    &.sms {
        background-image: url(./images/app/SMS.png);
    }

    //通讯录
    &.contact {
        background-image: url(./images/app/Contact.png);
    }

    //通话记录
    &.calllog {
        background-image: url(./images/app/Calllog.png);
    }

    //日历
    &.calendar {
        background-image: url(./images/app/Calendar.png);
    }

    //SIM卡
    &.sim {
        background-image: url(./images/app/SIM.png);
    }

    //wifi
    &.wifi {
        background-image: url(./images/app/Wifi.png);
    }

    //蓝牙
    &.bluetooth {
        background-image: url(./images/app/Bluetooth.png);
    }

    //安装应用
    &.appins {
        background-image: url(./images/app/AppIns.png);
    }

    //虚拟身份
    &.appaccount {
        background-image: url(./images/app/AppAccount.png);
    }

    //图片
    &.picture {
        background-image: url(./images/app/Picture.png);
    }

    //视频
    &.video {
        background-image: url(./images/app/Video.png);
    }

    //音频
    &.audio {
        background-image: url(./images/app/Audio.png);
    }

    //电邮类
    //自带邮箱
    &.email {
        background-image: url(./images/app/Email.png);
    }


    //QQ邮箱
    &.qq-email {
        background-image: url(./images/app/QQEmail.png);
    }

    //网易邮箱
    &.netease-email {
        background-image: url(./images/app/NeteaseEmail.png);
    }

    //网易邮箱大师
    &.netease-master {
        background-image: url(./images/app/NeteaseMaster.png);
    }

    //通讯社交类
    //QQ
    &.qq {
        background-image: url(./images/app/QQ.png);
    }

    //微信
    &.wechat {
        background-image: url(./images/app/Wechat.png);
    }

    //支付宝
    &.alipay {
        background-image: url(./images/app/Alipay.png);
    }

    //WhatsApp
    &.whatsapp {
        background-image: url(./images/app/Whatsapp.png);
    }

    //陌陌
    &.momo {
        background-image: url(./images/app/Momo.png);
    }

    //Blued
    &.blued {
        background-image: url(./images/app/Blued.png);
    }

    //探探
    &.putong {
        background-image: url(./images/app/PuTong.png);
    }

    //抖音
    &.douyin {
        background-image: url(./images/app/DouYin.png);
    }

    //快手
    &.kuaishou {
        background-image: url(./images/app/KuaiShou.png);
    }

    //全民k歌
    &.keige {
        background-image: url(./images/app/KeiGe.png);
    }

    //YY语音
    &.yy {
        background-image: url(./images/app/YY.png);
    }

    //遇见
    &.yujian {
        background-image: url(./images/app/Yujian.png);
    }

    //飞信
    &.feixin {
        background-image: url(./images/app/Feixin.png);
    }

    //Skype
    &.skype {
        background-image: url(./images/app/Skype.png);
    }

    //米聊
    &.miliao {
        background-image: url(./images/app/Miliao.png);
    }

    //Line
    &.line {
        background-image: url(./images/app/Line.png);
    }

    //Facebook
    &.facebook {
        background-image: url(./images/app/Facebook.png);
    }

    //人人
    &.renren {
        background-image: url(./images/app/Renren.png);
    }

    //易信
    &.yixin {
        background-image: url(./images/app/Yixin.png);
    }

    //来往
    &.laiwang {
        background-image: url(./images/app/Laiwang.png);
    }

    //旺信
    &.wangxin {
        background-image: url(./images/app/Wangxin.png);
    }

    //Talkbox
    &.talkbox {
        background-image: url(./images/app/Talkbox.png);
    }

    //Voxer
    &.voxer {
        background-image: url(./images/app/Voxer.png);
    }

    //viber
    &.viber {
        background-image: url(./images/app/Viber.png);
    }

    //coco
    &.coco {
        background-image: url(./images/app/Coco.png);
    }

    //KakaoTalk
    &.kakao-talk {
        background-image: url(./images/app/KakaoTalk.png);
    }

    //RaidCall
    &.raid-call {
        background-image: url(./images/app/RaidCall.png);
    }

    //有信
    &.youxin {
        background-image: url(./images/app/Youxin.png);
    }

    //Zello
    &.zello {
        background-image: url(./images/app/Zello.png);
    }

    //HelloTalk
    &.hello-talk {
        background-image: url(./images/app/HelloTalk.png);
    }

    //KeeChat
    &.kee-chat {
        background-image: url(./images/app/KeeChat.png);
    }

    //Oovoo
    &.oovoo {
        background-image: url(./images/app/Oovoo.png);
    }

    //DiDi
    &.didi {
        background-image: url(./images/app/DiDi.png);
    }

    //Nimbuzz
    &.nimbuzz {
        background-image: url(./images/app/Nimbuzz.png);
    }

    //IMO
    &.imo {
        background-image: url(./images/app/IMO.png);
    }

    //Telegram
    &.telegram {
        background-image: url(./images/app/Telegram.png);
    }

    //土豆聊天
    &.potato {
        background-image: url(./images/app/Potato.png);
    }

    //电子商务类
    //淘宝
    &.taobao {
        background-image: url(./images/app/Taobao.png);
    }

    //天猫
    &.tmall {
        background-image: url(./images/app/Tmall.png);
    }

    //京东商城
    &.jd {
        background-image: url(./images/app/JD.png);
    }

    //苏宁易购 
    &.suning {
        background-image: url(./images/app/Suning.png);
    }

    //当当  
    &.dangdang {
        background-image: url(./images/app/Dangdang.png);
    }

    //大众点评
    &.dianping {
        background-image: url(./images/app/DianPing.png);
    }

    //美团
    &.meituan {
        background-image: url(./images/app/Meituan.png);
    }

    //饿了么
    &.eleme {
        background-image: url(./images/app/Eleme.png);
    }

    //美团外卖
    &.meituanwaimai {
        background-image: url(./images/app/MeituanWaiMai.png);
    }

    //浏览器
    //默认浏览器
    &.browser {
        background-image: url(./images/app/Browser.png);
    }

    //Chrome
    &.chrome {
        background-image: url(./images/app/Chrome.png);
    }

    //Opera
    &.opera {
        background-image: url(./images/app/Opera.png);
    }

    //UC浏览器
    &.uc-web {
        background-image: url(./images/app/UCWeb.png);
    }

    //QQ浏览器
    &.qq-browser {
        background-image: url(./images/app/QQBrowser.png);
    }

    //百度浏览器
    &.baidu-browser {
        background-image: url(./images/app/BaiduBrowser.png);
    }

    //海豚浏览器
    &.dolphin {
        background-image: url(./images/app/Dolphin.png);
    }

    //猎豹浏览器
    &.cheetah {
        background-image: url(./images/app/CheetAH.png);
    }

    //搜狗浏览器
    &.sogou-browser {
        background-image: url(./images/app/SogouBrowser.png);
    }

    //百度贴吧
    &.baidutieba {
        background-image: url(./images/app/BaiduTieba.png);
    }

    //手机百度
    &.baidu-mobile {
        background-image: url(./images/app/BaiduMobile.png);
    }

    //360浏览器
    &.qh-browser {
        background-image: url(./images/app/360Browser.png);
    }

    //微博
    //新浪微博
    &.weibo {
        background-image: url(./images/app/Weibo.png);
    }

    //腾讯微博
    &.tt {
        background-image: url(./images/app/TT.png);
    }

    //Twitter
    &.twitter {
        background-image: url(./images/app/Twitter.png);
    }

    //地理位置
    //百度地图
    &.baidu-map {
        background-image: url(./images/app/BaiduMap.png);
    }

    //Google地图
    &.google-map {
        background-image: url(./images/app/GoogleMap.png);
    }

    //高德地图
    &.amap {
        background-image: url(./images/app/AMap.png);
    }

    //搜狗地图
    &.sougou-map {
        background-image: url(./images/app/SougouMap.png);
    }

    //腾讯地图
    &.soso-map {
        background-image: url(./images/app/SosoMap.png);
    }

    //航旅纵横
    &.umetrip {
        background-image: url(./images/app/Umetrip.png);
    }

    //滴滴打车
    &.didicar {
        background-image: url(./images/app/DidiCar.png);
    }

    //快滴打车
    &.kuaidi {
        background-image: url(./images/app/KuaiDi.png);
    }

    //携程旅行
    &.ctrip {
        background-image: url(./images/app/Ctrip.png);
    }

    //去哪儿
    &.qunar {
        background-image: url(./images/app/Qunar.png);
    }

    //艺龙旅行
    &.elong {
        background-image: url(./images/app/Elong.png);
    }

    //飞常准
    &.veryzhun {
        background-image: url(./images/app/VeryZhun.png);
    }

    //12306
    &.rails12306 {
        background-image: url(./images/app/Rails12306.png);
    }

    //曹操专车
    &.caocao {
        background-image: url(./images/app/CaoCao.png);
    }

    //航班管家
    &.hangban {
        background-image: url(./images/app/HangBan.png);
    }

    //网盘&笔记
    //百度网盘
    &.baidupan {
        background-image: url(./images/app/BaiduPan.png);
    }

    //有道云笔记
    &.youdaonote {
        background-image: url(./images/app/YoudaoNote.png);
    }

    //输入法
    //百度输入法
    &.baidu-input {
        background-image: url(./images/app/BaiduInput.png);
    }

    //搜狗输入法
    &.sogou-input {
        background-image: url(./images/app/SogouInput.png);
    }
}

.eggs {
    animation: animations 2s ease forwards;
}

@keyframes animations {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}