@primary-color: #50ada6;
@link-color: #50ada6;
@border-radius-base: 2px;
@table-row-hover-bg: fade(@primary-color, 15%);

// 如果是平板模式，可适当调大@font-size-base字体大小
@font-size-base: 14px;
@text-color: #fff; // 主文本色
@normal-color: #fff;

@heading-color: #fff;

//边框
@border-color-base: #303030; // base border outline a component
@border-color-inverse: #303030;

//表格
// Background color for `<body>`
@body-background: #141414;
// Base background color for most components
@component-background: #222222;

@border-color-base: #303030; // base border outline a component
@border-color-split: #303030; // split border inside a component

@background-color-light: #303030; // background of header and selected item
@background-color-base: #303030; // Default grey background color
@table-expanded-row-bg: #141414;
// @table-selected-row-color: #303030;
@table-selected-row-bg: #222222;
@table-header-bg: #141414;
@table-header-color: #fff;

//表单
@label-color: #fff;
