// UI共公样式设置

@base-color: #416eb5; //主题基色
@base-font-color: #222; //默认文字颜色
@root-font-size: 62.5%; //根元素文字大小
@default-font-size: 1.4rem;
@small-font-size: 1.2rem;

@server-cloud-color: #d1e8fd; //云取证标识色
