//重写ztree部分样式
.ztree li span.button {
	background-image: url('./images/ztree/zTreeStandard.png') !important;
}

span.tmpzTreeMove_arrow {
	background-image: url('./images/ztree/zTreeStandard.png') !important;
}
.ztree li a {
	padding: 2px 3px 0 0;
}

.ztree li a:hover {
	text-decoration: none;
}


.ztree li a.curSelectedNode {
	background-color: lighten(@base-color, 45%) !important;
	border: 1px solid lighten(@base-color, 45%) !important;
}
