.title-bar {
    box-sizing     : border-box;
    font-size      : 1.4rem;
    color          : #222;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
    height         : 40px;
    border-bottom  : 1px solid #eeeeee;

    .back {
        margin-left: 20px;
    }

    .btn {
        margin-right: 20px;
    }
}