.record-modal-root {
    margin : 0;
    padding: 0;

    .ant-modal-body {
        padding: 0 !important;
    }

    .list-empty {
        height         : 300px;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    .list-block {
        height    : 400px;
        overflow-y: auto;

        .middle {
            display        : flex;
            flex-direction : column;
            align-self     : center;
            justify-content: center;
            height         : 400px;
        }
    }

    ul {
        margin : 0;
        padding: 0;
    }

    li {
        display        : flex;
        margin         : 0;
        padding        : 6px 10px;
        list-style-type: none;
        border-bottom  : 1px solid lighten(@base-color, 45%);

        label {
            flex      : none;
            color: @ant-font-color;
            align-self: center;
        }

        span {
            flex        : 1;
            font-weight : bold;
            padding-left: 10px;
        }

        &:nth-child(2n) {
            background-color: lighten(@base-color, 49%);
        }

        &:last-child {
            border: none;
        }
    }
}