.four-step-form-box {
	margin: 14px 14px 0 14px;
	.sample-img {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid #303030;
		border-radius: 2px;

		legend {
			display: inline;
			width: auto;
			margin-left: 14px;
			font-size: 1.4rem;
		}

		.attach-list-box {
			overflow: auto;
			width: 100%;
			height: 160px;

			ul {
				margin: 0;
				padding: 0;
			}
			li {
				margin: 0;
				padding: 2px 0 2px 8px;
				list-style-type: none;

				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				.file-info {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					.file-name {
						display: inline-block;
						max-width: 380px;
						margin-left: 8px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
					}
				}
			}
		}

		.attaches {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			p {
				margin: 0;
			}
			.empty-box {
				height: 160px;
			}
			.mask {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(240, 240, 240, 0.7);
				content: ' ';
			}
		}
		.imgs {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
	}
}
