.version-root {
    width          : auto;
    height         : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

    .logo {
        display: block;
        width  : 293px;
        height : 218px;
    }

    .info {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        font-size      : 14px;
        color          : #222;
        width          : 293px;
        height         : 218px;
        margin-left    : 95px;

        div {
            width  : 100%;
            padding: 5px 0;
        }
    }
}