.export-report-modal-root {
	.ant-modal-body {
		padding: 0 !important;
	}

	.export-panel {
		display: flex;
		flex-direction: column;
		.center-box {
			height: 450px;
			overflow: auto;
			border-right: 1px solid #efefef;
		}
	}

	.control-boxes {
		display: inline;
		margin-right: 15px;
		& > span {
			cursor: pointer;
			margin-left: 2px;
		}
		.ant-input {
			width: auto;
		}
	}

	.ztree {
		b {
			font-family: Arial, Helvetica, sans-serif;
			color: #00c5c5;
			font-style: normal;
			font-weight: normal;
		}
		i {
			font-family: Arial, Helvetica, sans-serif;
			color: #ec9d00;
			font-style: normal;
		}
		em {
			font-family: Arial, Helvetica, sans-serif;
			color: #ff0033;
			font-style: normal;
		}
	}
}

.complete-msg-root {
	em {
		font-weight: bold;
		font-style: normal;
		text-decoration: none;
	}
	a {
		cursor: pointer;
		font-weight: bold;
		color: @base-color;
	}
}
