.arc-button-root {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-color: transparent;

	&:hover {
		button {
			color: #66ffff;
			cursor: pointer;
		}
	}

	& > .arc-left {
		display: block;
		width: 17px;
		height: 46px;
		background-image: url(./images/arc-left.png);
		background-repeat: no-repeat;
		background-color: transparent;
	}
	& > .arc-middle {
		position: relative;
		left: -1px;
		display: block;
		width: auto;
		height: 39px;
		border: none;
		font-size: 1.6rem;
		background-image: url(./images/arc-middle.png);
		background-repeat: repeat-x;
		background-color: transparent;
	}
	& > .arc-right {
		position: relative;
		left: -1px;
		display: block;
		width: 16px;
		height: 46px;
		background-image: url(./images/arc-right.png);
		background-repeat: no-repeat;
		background-color: transparent;
	}
}
