.officer-edit {
    height     : 100%;
    padding-top: 18px;

    .center-panel {
        height     : calc(100% - 40px);
        display    : flex;
        align-items: center;

        .input-area {
            width           : 400px;
            height          : auto;
            margin          : 0 auto;
            padding         : 30px;
            display         : flex;
            flex-direction  : column;
            justify-content : center;
            align-items     : center;
            border          : 1px solid #eee;
            background-color: #f9f9f9;

            .avatar {
                width          : 130px;
                height         : 130px;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : center;

                img {
                    display          : block;
                    width            : 125px;
                    height           : 125px;
                }
            }

            .buttons {
                width      : 100%;
                padding-top: 10px;
                text-align : right;
            }
        }
    }
}