.display {
    height: 100%;

    .scroll-panel {
        box-sizing: border-box;
        padding   : 20px;
        height    : 100%;
        overflow-y: auto;
    }

    .ant-table-pagination.ant-pagination {
        margin: 16px 10px 16px 0px;
        float : left;
    }
}