.setting-panel {
	position: relative;
	height: 100%;
	padding: 0 20px;
	display: flex;
	flex-direction: row;

	&.pad {
		flex-direction: column;
	}

	.setting-menu {
		flex: none;
		box-sizing: border-box;
		height: calc(100% - 40px);
		overflow-y: auto;
		margin-top: 20px;
		padding: 10px 20px 10px 20px;
		background-color: #f2f2f2;
		box-shadow: 5px 5px 10px #dadada;

		&.pad {
			flex-direction: column;
			height: auto;
			margin: 0;
			padding: 0;
			box-shadow: none;
			background-color: #fff;

			li {
				display: inline-block;

				&:last-child a {
					border-right: none;
				}

				a {
					border-bottom: none;
					border-right: 1px solid @base-color;

					div {
						margin: 0;
						padding: 0;
						color: @base-font-color;

						span {
							padding: 5px 10px;
						}
					}

					&.active div {
						color: @base-color;
						background-color: #fff;
						font-weight: bold;
					}
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}

		li {
			margin: 0;
			padding: 0;
			list-style-type: none;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				border-bottom: 1px solid @base-color;

				&.active div {
					background-color: fade(@base-color, 20%);
				}

				div {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: center;
					color: @base-color;
					margin: 10px 0;
					padding: 8px 0;
					width: 100%;

					i {
						display: block;
						background-image: url(images/menu-buttons.png);
						background-repeat: no-repeat;
					}

					span {
						padding: 5px 0;
					}
				}
			}

			&:last-child a {
				border-bottom: 0;
			}

			.collection {
				i {
					width: 50px;
					height: 50px;
					background-position: -91px 0px;
				}
			}

			.police-officer {
				i {
					width: 55px;
					height: 50px;
					background-position: -143px 0px;
				}
			}

			.ftp {
				i {
					width: 51px;
					height: 50px;
					background-position: -365px 0px;
				}
			}

			.unit {
				i {
					width: 52px;
					height: 50px;
					background-position: -72px 0px;
				}
			}

			.dst-unit {
				i {
					width: 52px;
					height: 50px;
					background-position: 2px 0px;
				}
			}

			.word {
				i {
					width: 52px;
					height: 50px;
					background-position: -437px 0px;
				}
			}
			.check-manage {
				i {
					width: 52px;
					height: 50px;
					background-position: -585px 0px;
				}
			}
			.cop-platform {
				i {
					width: 52px;
					height: 50px;
					background-position: -658px 0px;
				}
			}

			.about {
				i {
					width: 54px;
					height: 53px;
					background-position: -510px 0px;
				}
			}
		}
	}

	.setting-container {
		flex: 3;
		margin-top: 20px;
		margin-left: 20px;
	}
}
