.setting-panel {
    position      : relative;
    height        : 100%;
    padding       : 0 20px;
    display       : flex;
    flex-direction: row;

    &.pad {
        flex-direction: column;
    }

    .setting-menu {
        box-sizing      : border-box;
        height          : auto;
        margin-right    : 20px;
        margin-top      : 20px;
        padding         : 20px 20px 20px 20px;
        background-color: #f2f2f2;
        box-shadow      : 5px 5px 10px #dadada;

        &.pad {
            flex-direction  : column;
            margin          : 0;
            padding         : 0;
            box-shadow      : none;
            background-color: #fff;

            li {
                display: inline-block;

                &:last-child a {
                    border-right: none;
                }

                a {
                    border-bottom: none;
                    border-right : 1px solid @base-color;

                    div {
                        margin : 0;
                        padding: 0;
                        color  : @base-font-color;

                        span {
                            padding: 5px 10px;
                        }
                    }

                    &.active div {
                        color           : @base-color;
                        background-color: #fff;
                        font-weight     : bold;
                    }
                }
            }
        }

        ul {
            margin : 0;
            padding: 0;
        }

        li {
            margin         : 0;
            padding        : 0;
            list-style-type: none;

            a {
                display        : flex;
                justify-content: center;
                align-items    : center;
                border-bottom  : 1px solid @base-color;

                &.active div {
                    background-color: lighten(@base-color, 40%);
                }

                div {
                    display        : flex;
                    flex-direction : column;
                    justify-content: flex-start;
                    align-items    : center;
                    color          : @base-color;
                    margin         : 10px 0;
                    padding        : 8px 0;
                    width          : 100%;

                    i {
                        display          : block;
                        background-image : url(images/menu-buttons.png);
                        background-repeat: no-repeat;
                    }

                    span {
                        padding: 5px 0;
                    }
                }
            }

            &:last-child a {
                border-bottom: 0;
            }

            .collection {
                i {
                    width              : 50px;
                    height             : 50px;
                    background-position: -142px 0px;
                }
            }

            .police-officer {
                i {
                    width              : 55px;
                    height             : 50px;
                    background-position: -172px 0px;
                }
            }

            .ftp {
                i {
                    width              : 51px;
                    height             : 50px;
                    background-position: -517px 0px;
                }
            }

            .unit {
                i {
                    width              : 52px;
                    height             : 50px;
                    background-position: -88px 0px;
                }
            }

            .dst-unit {
                i {
                    width              : 52px;
                    height             : 50px;
                    background-position: 0px 0px;
                }
            }

            .about {
                i {
                    width              : 54px;
                    height             : 53px;
                    background-position: -429px 0px;
                }
            }
        }
    }

    .setting-container {
        flex: 3;
    }
}