.msg-link-root {
    color        : #fff;
    padding-right: 5px;
    animation    : changeColor 1.5s step-start infinite;

    @keyframes changeColor {
        0% {
            color: #fff;
        }
        50% {
            color: #f00;
        }
    }
}