.msg-link-root {
	color: @base-color;
	font-weight: bold;
	padding-right: 5px;

	&.flash {
		animation: changeColor 0.6s step-start infinite;
	}

	&:hover {
		color: @base-color;
	}

	@keyframes changeColor {
		0% {
			color: @base-color;
		}

		50% {
			color: #ff3838;
		}
	}
}
