.tools-menu {
	height: 100%;
	padding: 5px;
	overflow-y: auto;

	.sort-root {
		width: 100%;
		background-color: fade(@base-color, 30%);
		border-radius: 3px;
		padding: 10px 20px;
	}

	.sort {
		background-color: #fff;
		border-radius: 3px;
		padding: 20px;
		margin: 20px 0;

		& > .caption {
			color: @base-color;
			font-size: 1.4rem;
			font-weight: bold;
		}

		.fn-box {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			border: 2px solid fade(@base-color, 30%);
			border-radius: 3px;
			padding: 10px;
			margin-right: 10px;
			margin-top: 10px;
			&:hover {
				border: 2px solid fade(@base-color, 30%);
				border-color: @base-color;
				background-color: fade(@base-color, 30%);
				transition: ease-in 0.2s;
				& > span {
					color: @base-color;
				}
			}
		}

		ul {
			margin: 0;
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			width: 160px;
			list-style-type: none;
			i {
				display: flex;
				padding: 10px 0;
			}
			img,
			svg {
				width: 70px;
				height: 70px;
			}
			span {
				font-size: @default-font-size;
			}
		}

		&.thin {
			padding: 5px;
			text-align: right;

			.ant-btn {
				margin-left: 4px;
			}
		}

		&:first-child {
			margin-top: 10px;
		}

		&:last-child {
			margin-bottom: 10px;
		}

		hr {
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 1px solid fade(@base-color, 30%);
		}
	}
}
