.tools-menu {
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    menu {
        margin        : 0;
        padding       : 0;
        display       : flex;
        flex-direction: row;

        i {
            display          : block;
            width            : 202px;
            height           : 230px;
            background-repeat: no-repeat;
            background-size  : contain;

            &.lock {
                background-image: url(./images/lock.png);
            }

            &.bcp {
                background-image: url(./images/bcp.png);
            }

            &.upload {
                background-image: url(./images/upload.png);
            }

            &.report {
                background-image: url(./images/report.png);
            }

            &.indata {
                background-image: url(./images/indata.png);
            }
        }
    }

    li {
        flex           : 1;
        display        : block;
        list-style-type: none;
        margin         : 10px;

        .ant-spin-dot-item {
            width : 9px;
            height: 9px;
        }

        a {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;
        }

        .info {
            display        : flex;
            flex-direction : column;
            justify-content: center;
            align-items    : center;

            span {
                font-size  : 2.4rem;
                color      : #222;
                padding-top: 10px;
            }

            em {
                padding-top: 10px;
                font-size  : 1.4rem;
                color      : #989696;
                font-style : normal;
                white-space: nowrap;
            }
        }
    }
}