.jigsaw-root {
	width: auto;
	display: flex;
	flex-direction: column;

	.img-panel {
		box-sizing: border-box;
		position: relative;
		& > .bg {
			position: relative;
			display: block;
		}
		.gap-box {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 101;
		}
	}

	.img-slider {
		width: auto;
	}
}
