.case-inner-table {
	margin: 5px;

	.cloud-row {
		background-color: @server-cloud-color;
	}

	.default-row {
		background-color: #ffffff;
	}

	.ant-table-placeholder {
		border-left: 1px solid #e8e8e8;
		border-right: 1px solid #e8e8e8;
	}
}
