html {
    font-size: 62.5%;
    margin   : 0;
    padding  : 0;
    width    : auto;
    height   : 100%;
    color    : #222;
}

body {
    margin     : 0;
    padding    : 0;
    font-size  : 1.4rem;
    font-family: "Microsoft YaHei", "NSimSun";
    width      : auto;
    height     : 100%;
}

#root {
    margin         : 0;
    padding        : 0;
    width          : auto;
    height         : 100%;
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;

    .right-root {
        flex  : 1;
        height: 100%;
        width : auto;
    }
}


// 手机品牌图标，请在此新增
.brand {
    display          : inline-block;
    width            : 60px;
    height           : 60px;
    background-repeat: no-repeat;
    background-size  : contain;

    &.android {
        background-image: url(./images/brand/android.png);
    }

    &.apple {
        background-image: url(./images/brand/apple.png);
    }

    &.xiaomi {
        background-image: url(./images/brand/xiaomi.png);
    }

    &.vivo {
        background-image: url(./images/brand/vivo.png);
    }

    &.oppo {
        background-image: url(./images/brand/oppo.png);
    }

    &.huawei {
        background-image: url(./images/brand/huawei.png);
    }

    &.honor {
        background-image: url(./images/brand/honor.png);
    }

    &.samsung {
        background-image: url(./images/brand/samsung.png);
    }
}

//应用图标在此新增
.app-icon {
    width              : 60px;
    height             : 60px;
    display            : inline-block;
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center center;

    // 基本信息
    &.base {
        background-image: url(./images/app/DevBaseInfo.png);
    }

    //短信
    &.sms {
        background-image: url(./images/app/SMS.png);
    }

    //通讯录
    &.contact {
        background-image: url(./images/app/Contact.png);
    }

    //通话记录
    &.calllog {
        background-image: url(./images/app/Calllog.png);
    }

    //日历
    &.calendar {
        background-image: url(./images/app/Calendar.png);
    }

    //SIM卡
    &.sim {
        background-image: url(./images/app/SIM.png);
    }

    //wifi
    &.wifi {
        background-image: url(./images/app/Wifi.png);
    }

    //蓝牙
    &.bluetooth {
        background-image: url(./images/app/Bluetooth.png);
    }

    //安装应用
    &.appins {
        background-image: url(./images/app/AppIns.png);
    }

    //虚拟身份
    &.appaccount {
        background-image: url(./images/app/AppAccount.png);
    }

    //图片
    &.picture {
        background-image: url(./images/app/Picture.png);
    }

    //视频
    &.video {
        background-image: url(./images/app/Video.png);
    }

    //音频
    &.audio {
        background-image: url(./images/app/Audio.png);
    }
    //自带邮箱
    &.email {
        background-image: url(./images/app/Email.png);
    }
    //QQ邮箱
    &.qq-email {
        background-image: url(./images/app/QQEmail.png);
    }
    //网易邮箱
    &.netease-email {
        background-image: url(./images/app/NeteaseEmail.png);
    }
    //网易邮箱大师
    &.netease-master {
        background-image: url(./images/app/NeteaseMaster.png);
    }
}