.progress-bar-loading {
	& > .bar-bg {
		position: relative;
		width: 100%;
		height: 10px;
		background-color: #efefef;
		& > .current-percent {
			position: relative;
			height: 10px;
			background-color: @base-color;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			transition: all 0.4s cubic-bezier(0.08, 0.82, 0.17, 1) 0s;
			& > .progress-bar-pvalue-label {
				display: inline-block;
				margin-right: 1px;
				overflow: hidden;
				text-overflow: clip;
				white-space: nowrap;
				color: #6ee6a4;
				font-size: 1.1rem;
				font-family: Arial;
				width: auto;
				animation: percent-label-flash 2s ease-out infinite;
				&::after {
					content: none;
				}
			}
		}
	}

	@keyframes percent-label-flash {
		0% {
			color: #6ee6a4;
		}
		5% {
			color: #fff;
		}
		10% {
			color: #6ee6a4;
		}
	}

	// display: flex;
	// flex-direction: row;
	// justify-content: space-around;
	// flex-wrap: nowrap;
	// box-sizing: border-box;
	// width: 100%;
	// height: 10px;
	// margin: 0;
	// padding: 0;

	// span {
	// 	display: block;
	// 	background-color: @base-color;
	// 	width: calc(100% / 7 - 1px);
	// 	height: 10px;
	// 	padding: 0;
	// 	animation: load 1.04s ease infinite;
	// 	&:nth-child(1) {
	// 		animation-delay: 0.13s;
	// 	}
	// 	&:nth-child(2) {
	// 		animation-delay: 0.26s;
	// 	}
	// 	&:nth-child(3) {
	// 		animation-delay: 0.39s;
	// 	}
	// 	&:nth-child(4) {
	// 		animation-delay: 0.52s;
	// 	}
	// 	&:nth-child(5) {
	// 		animation-delay: 0.65s;
	// 	}
	// 	&:nth-child(6) {
	// 		animation-delay: 0.78s;
	// 	}
	// 	&:nth-child(7) {
	// 		animation-delay: 0.91s;
	// 	}
	// }
	// @keyframes load {
	// 	0% {
	// 		opacity: 1;
	// 	}
	// 	100% {
	// 		opacity: 0.1;
	// 	}
	// }
}
