.case-inner-table {
    margin: 5px;

    .odd-row {
        background-color: #fbfbfb;
    }

    .even-row {
        background-color: #ffffff;
    }

    .ant-table-placeholder {
        border-left : 1px solid #e8e8e8;
        border-right: 1px solid #e8e8e8;
    }

    .ant-tag {
        margin-right: 0 !important;
    }
}