.top-nav {
    display         : flex;
    flex-direction  : row;
    font-size       : 14px;
    height          : auto;
    width           : auto;
    background-color: @base-color;
    overflow        : hidden;

    .disk {
        flex: 1;
    }

    ul {
        width         : 740px;
        margin        : 0;
        padding       : 0;
        display       : flex;
        flex-direction: row;
    }

    li {
        margin         : 0;
        padding        : 0;
        list-style-type: none;
        flex           : 1;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        border-right   : 1px solid #fff;


        div.logo {
            width            : 40px;
            height           : 29px;
            background-image : url(./images/logo.png);
            background-repeat: no-repeat;
            background-size  : 100% 100%;
            margin           : 20px auto 20px auto;
        }

        a {
            display        : flex;
            overflow       : hidden;
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            width          : 100%;
            height         : 100%;
            color          : #fff;

            transition: background-color ease-in .2s;

            &:hover {
                background-color: darken(@base-color, 10%)
            }

            &.active {
                background-color: darken(@base-color, 10%)
            }
        }
    }
}