.word-root {
	width: auto;
	height: calc(100% - 27px);
	overflow-y: auto;

	.word-panel {
		padding: 5px;
		display: flex;
	}

	.word-card {
		width: 280px;
		margin: 5px;
		border-radius: 3px;
		border: 1px solid @base-color;
		.caption {
			padding: 5px 8px;
			color: #fff;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			background-color: @base-color;
		}
		.ct {
			padding: 10px;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			background-color: #fff;

			.btn-bar {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				margin-top: 20px;
			}
		}
	}

	.ant-statistic-content-value {
		color: @base-color;
		font-family: Arial;
	}
}
