.device-root {
	width: 100%;
	height: 100%;
	position: relative;

	.button-bar {
		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: auto;
		box-sizing: border-box;
		border: 1px solid darken(@base-color, 10%);
		padding: 5px;
		background-color: @base-color;

		label {
			color: #fff;
			font-size: @default-font-size;
		}

		.ant-btn {
			margin-left: 5px;
		}
	}

	.panel {
		position: absolute;
		top: 50px;
		left: 1px;
		right: 1px;
		bottom: 5px;
		background-color: #fff;
		display: flex;
		flex-direction: column;

		&.only2 {
			top: 60px;
			flex-direction: row;
		}

		.row {
			width: auto;
			box-sizing: border-box;
			flex: 1;
			display: flex;
			flex-direction: row;
			padding: 2px;
			&.pad {
				padding-left: 0;
			}

			.col {
				flex: 1;
				box-sizing: border-box;
				display: inline-block;

				&:not(:last-child) {
					margin-left: 1px;
				}
				&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-left: 1px;
				}
			}
		}

		.cell {
			// 手机块
			display: flex;
			flex-direction: column;
			height: 100%;
			margin: 2px;

			&.green {
				.no {
					background-color: #009a44;
				}

				.place {
					background-color: #009a44;
				}
			}
			&.red {
				.no {
					background-color: #fe0000;
				}

				.place {
					background-color: #fe0000;
				}
			}

			&.flash {
				animation: flashBorder 0.6s ease-out infinite;
			}

			.no {
				background-color: @base-color;
				color: contrast(@base-color, #fff, @base-font-color);
				height: 30px;
				line-height: 30px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				// display: flex;
				// flex-direction: row;
				// justify-content: space-between;

				div {
					display: flex;
					justify-content: center;
					&:first-child {
						flex: none;
					}

					&:last-child {
						flex: auto;

						& > a {
							width: 100%;
							text-align: right;
						}
					}
				}

				span {
					&.flash {
						animation: flashBg 0.6s ease-out infinite;
					}
					position: relative;
					display: flex;
					justify-content: center;
					background-color: #fff;
					color: @base-color;
					min-width: 100px;
					height: 100%;
					& > b {
						z-index: 1;
					}
					&::before {
						position: absolute;
						left: -15px;
						content: '';
						width: 30px;
						height: 100%;
						background-color: #fff;
						display: block;
						transform: skew(30deg);
					}
					&::after {
						position: absolute;
						right: -15px;
						content: '';
						width: 30px;
						height: 100%;
						background-color: #fff;
						display: block;
						transform: skew(-30deg);
					}
				}
			}

			.place {
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100%;
				background-color: @base-color;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}

			@keyframes flashBorder {
				0% {
					border: 1px solid @base-color;
				}

				50% {
					border: 1px solid #e12830;
				}
			}

			@keyframes flashBg {
				0% {
					color: @base-color;
				}

				50% {
					color: #e12830;
				}
			}
		}
	}
}
