.device-root {
    width   : 100%;
    height  : calc(100% - 5px);
    position: relative;

    .button-bar {
        box-sizing      : border-box;
        border          : 1px solid darken(@base-color, 10%);
        margin          : 5px;
        padding         : 5px;
        background-color: @base-color;

        label {
            color: #fff;
        }

        .ant-btn {
            margin-left: 5px;
        }
    }

    .panel {
        position        : absolute;
        top             : 48px;
        left            : 5px;
        right           : 5px;
        bottom          : 5px;
        border          : 1px solid #515864;
        box-shadow      : 5px 5px 10px #cacaca;
        background-color: #fff;
        display         : flex;
        flex-direction  : column;

        &.only2 {
            flex-direction: row;
        }

        .row {
            width         : auto;
            box-sizing    : border-box;
            flex          : 1;
            display       : flex;
            flex-direction: row;

            .col {
                flex      : 1;
                box-sizing: border-box;
                display   : inline-block;
                padding   : 1px;
            }
        }

        .cell {
            // 手机块
            display       : flex;
            flex-direction: column;
            height        : 100%;
            border        : 1px solid @base-color;

            .no {
                background-color: @base-color;
                color           : #fff;
                height          : 30px;
                line-height     : 30px;
                display         : flex;
                flex-direction  : row;
                justify-content : space-between;
                letter-spacing  : 1px;

                &.flash {
                    animation: flashColor .6s ease-out infinite;
                }

                div {
                    padding: 0 5px;
                }

                i {
                    &.terminal {
                        display          : inline-block;
                        position         : relative;
                        top              : 4px;
                        width            : 15px;
                        height           : 19px;
                        background-image : url(images/terminal.png);
                        background-repeat: no-repeat;
                    }
                }

                span {
                    margin-left: 5px;
                }
            }

            .place {
                box-sizing     : border-box;
                display        : flex;
                flex-direction : column;
                justify-content: center;
                align-items    : center;
                height         : 100%;
            }

            @keyframes flashColor {
                0% {
                    background-color: @base-color;
                }

                50% {
                    background-color: #e12830;
                }
            }
        }
    }
}